# wal -c # clears cached pywal themes
# /home/$USER/.bin/setbg
/home/$USER/.bin/autoscroll_enabled.sh
test
# increases key speed
xset r rate 300 50
# sets the caps lock key to also be an escape key
xmodmap -e "remove Lock = Caps_Lock"
xmodmap -e "keycode 66 = Escape NoSymbol Escape"
xmodmap -pke > ~/.xmodmap
# uses whatever environmental variables are set in bash_env
if [ -f ~/.config/bash/bash_env  ]; then
    . ~/.config/bash/bash_env
fi

# Makes sure that all locations vim needs exist
mkdir -p $XDG_DATA_HOME/vim/{undo,swap,backup,view}
