# wal -c # clears cached pywal themes
/home/$USER/.bin/autoscroll_enabled.sh
# increases key speed
xset r rate 300 50
# sets the caps lock key to also be an escape key
# setxkbmap -option caps:swapescape
# setxkbmap -option altwin:swap_alt_win
# setxkbmap -option altwin:swap_lalt_lwin
# uses whatever environmental variables are set in bash_env
if [ -f ~/.config/bash/bash_env  ]; then
    . ~/.config/bash/bash_env
fi

# Makes sure that all locations vim needs exist
mkdir -p $xdg_data_home/vim/{undo,swap,backup,view}

setxkbmap -rules "evdev" -model "pc105+inet" -layout "us" -option "caps:swapescape,terminate:ctrl_alt_bksp"
$HOME/.bin/startup.sh

