[Desktop Entry]
Type=Application
Name=GNOME Keyring (Secrets)
Exec=/usr/bin/gnome-keyring-daemon --start --components=secrets
X-GNOME-Autostart-enabled=true
